<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Banking app testcasese">

<parameter name="username" value="abc@xyz.com"></parameter>
  <parameter name="password" value="Abc1234567"></parameter>
  
  <test thread-count="5" name="Regression Test">
  
  
 <!--  <groups>
  <run>
  <include name="Sanity"></include>
  </run>
  </groups> -->
  
  
    <classes>
   <!--  
      <class name="testngExample.Testcase1">
       -->
      
      
      <!--   <methods>
      <exclude name="Loan.*"></exclude>
      </methods>-->
      <!-- </class> -->
      
      
      <class name="test.LoginTest"/>
      
      
      <!-- <class name="testngExample.Testcase2">
      
      </class> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
